.one{border: 1px solid white;}
.two{height:20%;width: 100%; }
.three{list-style: none;float:right;width:750px;height:20px ;}
.one li{float: left;color: #000000;}
.one a{color: black;margin-left: 20px;}
.four{margin-top:250px ;height:auto ;width: auto;}
.five{height: 30px;width:380px;}
.five1{height: 30px;width: 300px;background-image: url(../img/baidu01.png);background-position: right;background-repeat: no-repeat;}
.five2{background-color:cornflowerblue;height:30px;color: white;}
.six{margin-top: 20px;width: 900px;}